@font-face {
    font-family: 'font1';
    src: url('../src/assets/Fonts/Inspire-Bold.4ff15ddc93445342649194969715b0b5.woff2') format('woff2');
        
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'font2';
    src: url('../src/assets/Fonts/Inspire-Regular.f2199f841165c4ddbafcf177da3ef974.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;
  }
  

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
height:100%;
width:100%;
scroll-behavior:  smooth;
background-color: #040714;
color: #f9f9f9;
font-family: font1 ;
font-family: font2 ;
}



a{
    color: #f9f9f9;
    text-decoration: none;
}

@media  (min-width:768px) {
    body{
        font-size: 16px;
    }
}

@media  (min-width:480px) and (max-width: 768) {
    body{
        font-size: 15px;
    }
}

@media  (max-width:479px) {
    body{
        font-size: 14px;
    }
}